{% extends "layout.html" %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'css/home.css' )}}">
	<link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Merriweather&display=swap" rel="stylesheet">
{% endblock style %}

{% block content %}
<style type="text/css">
	#main_container{
		align-self: center;
	}
	#main_photo{
		max-width: 550px;
	}
	.im{
		font-size: 30px;
	}
	.about_me{
		font-size: 25px;
	}
	.text_down{
		font-size: 20px;
	}
	.footer_image{
		width: 50px;
		height: 50px;
	}
	.footer_image_con{
		width: 100%;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

@media (max-width:700px){
	.fullname{
		font-size: 30px;
	}
	.im{
		font-size: 20px;
	}
	#main_photo{
		max-width: 300px;
	}
	.about_me{
		font-size: 20px;
	}
	.text_down{
		font-size: 15px;
	}
</style>



	<div class="bg-light card m-2" id="main_container">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-sm-12 card-body text-center m-auto" id="main_photo" >
					<img class="img-thumbnail img-fluid" src="{{url_for('static' , filename = 'images/dp1.jpg')}}"
					style="object-fit: contain;"/>
				</div>
				<div class="col-md-7 col-sm-12 card-body" id="primary_details">
					<div class="name">
						<span class="im">Hello I'm </span>
						<div class="name_dis">
							<h1 class="fullname text-center"><u>MD SHAKIB MONDAL</u></h1>
							<small class="text-center">
								<p class="designation">Machine-Learning Enthusiasts | Computer Science Engineer</p>
							</small>
						</div>
					</div>

					<div class="about_me">
						<p>
							I am a Computer Science Engineer 'who really wants to be one'. With all the elementary subjects in engineering, I have a great interest in Machine Learning And Data Science. And looking forward in having a career in this field.
						<p>
					</div>


					<div class="text_down">
						<div class="container-fluid other_details">
							<div class="row">

								<div class="detail_type col-4">Age</div>


								<div class="detail_midle col-1">:</div>

								<div class="detail_description col-6">{{age}}</div>


							</div>
							<div class="row">

								<div class="detail_type col-4">Address</div>


								<div class="detail_midle col-1">:</div>

								<div class="detail_description col-6">South Kolorah, Kolorah, Domjur, Howrah, 711411, India</div>


							</div>
							<div class="row">

								<div class="detail_type col-4">Email</div>


								<div class="detail_midle col-1">:</div>

								<div class="detail_description col-6">sakibmondal7@gmail.com</div>


							</div>
							<div class="row">

								<div class="detail_type col-4">Phone</div>


								<div class="detail_midle col-1">:</div>

								<div class="detail_description col-6">+91-903-838-3080</div>


							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="bg-danger row m-auto footer_image_con">
			<div class="col-2 m-auto text-center">
				<a href="https://www.linkedin.com/in/shakib-mondal/">
					<img src="{{url_for('static',filename = 'images/linkedin.png')}}" class="footer_image">
				</a>
			</div>

			
			<div class="col-2 m-auto text-center">
				<a href="https://github.com/SkeyRahaman">
					<img src="{{url_for('static',filename = 'images/github.png')}}" class="footer_image">
				</a>
			</div>

			<div class="col-2 m-auto text-center">
				<a href="https://www.hackerrank.com/Shakib_Mondal">
					<img src="{{url_for('static',filename = 'images/hackerrank.png')}}" class="footer_image">
				</a>
			</div>

			<div class="col-2 m-auto text-center">
				<a href="https://medium.com/@shakibmondal">
					<img src="{{url_for('static',filename = 'images/medium.png')}}" class="footer_image">
				</a>
			</div>

			<div class="col-2 m-auto text-center">
				<a href="https://www.facebook.com/sakib.mondal.73">
					<img src="{{url_for('static',filename = 'images/facebook.png')}}" class="footer_image">
				</a>
			</div>

			
			<div class="col-2 m-auto text-center">
				<a href="https://www.instagram.com/skey_rahaman/">
					<img src="{{url_for('static',filename = 'images/instagram.png')}}" class="footer_image">
				</a>
			</div>
		</div>
	</div>
	
{% endblock content %}