{% extends "layout.html" %}


{% block content %}
<style type="text/css">
	.group_heading{
		font-size: 50px;
	}
@media (max-width:700px){
	.group_heading{
		font-size: 30px;
	}
}
</style>


<div class="card">
	<div class="bg-light">
		<div class="text-center text-uppercase group_heading">
			<b><u>Projects</u></b>
		</div>
		<div class="row">
			{% for pro in projects %}
				<div class="col-md-6 col-sm-12">
					<div class="card m-3">
						<div class="swatch-orange p-2 mb-2" style="width: auto; text-align: center; background-image: linear-gradient(135deg, #f7cb6a,#fca980); border-top-right-radius: 5px;border-top-left-radius: 5px;color: black">
							<div class="lead text-uppercase" >
								<a href="{{pro[3]}} " style="color: inherit;">
									<h4><strong>{{pro[0]}}</strong></h4>
								</a>
							</div>
						</div>

						<div class="container-fluid row p-2 mb-2">
							<div class="col-4">
								Project Description : - 
							</div>
							<div class="lead col-7">
								{{pro[1]}}
							</div>
						</div>

						<div class="container-fluid row p-2 mb-2">
							<div class="col-6">
								Programming language or type of file used used : - 
							</div>
							<div class="lead col-6">
								{{pro[2]}}
							</div>
						</div>
						<div style="align-content: right;bottom: 0;">
							<a href="{{pro[3]}}">
								<button class="btn btn-success">Know More</button>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
		<div class="text-center">
			<a href="https://github.com/SkeyRahaman">
				<button class="btn btn-lg btn-outline-info m-auto">Go To Github For all projects.</button>
			</a>
		</div>
	</div>
</div>
{% endblock content %}