{% extends "layout.html" %}

{% block content %}
<div class="card section m-3">
	<div class="card-body bg-light">
		<div class="block_heading text-center text-uppercase display-4">
			Projects
		</div>
		<div class="row">
			{% for pro in projects %}
				<div class="card col-5 mx-auto my-4">

					<div class="swatch-orange p-2 mb-2" style="width: auto; text-align: center; background-image: linear-gradient(135deg, #f7cb6a,#fca980); border-top-right-radius: 5px;border-top-left-radius: 5px;">
						<div class="lead text-uppercase">
							<h4><strong>{{pro[0]}}</strong></h4>
						</div>
					</div>

					<div class="container-fluid row p-2 mb-2">
						<div class="col-4">
							Project Description : - 
						</div>
						<div class="lead col-7">
							{{pro[1]}}
						</div>
					</div>

					<div class="container-fluid row p-2 mb-2">
						<div class="col-6">
							Programming language used : - 
						</div>
						<div class="lead col-6">
							{{pro[2]}}
						</div>
					</div>


				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}