{% extends "layout.html" %}


{% block content %}
<div class="card-body justify-content-center col-lg-5 col-sm-12 col-md-8">
	<form method="POST" action="">
		{% if nums %}
			{% for i in range(3) %}
				<div class="row" >
					{% for j in range(3) %}
						<div class="col-4 border">
							{% for s in range(3*i,3*i+3) %}
								<div class="row">
									{% for e in range(3*j,3*j+3) %}
										<div class="col-4 card p-0" type="input">
										    <input name="cell{{s}}{{e}}" type="text" value="{{nums[s][e]}}" onchange='check_number("cell{{s}}{{e}}")'>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% else %}
			{% for i in range(3) %}
				<div class="row" >
					{% for j in range(3) %}
						<div class="col-4 border">
							{% for s in range(3*i,3*i+3) %}
								<div class="row">
									{% for e in range(3*j,3*j+3) %}
										<div class="col-4 card p-0" type="input">
										    <input name="cell{{s}}{{e}}" type="text" onchange='check_number("cell{{s}}{{e}}")'>
										</div>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
	    {% endif %}
	    <div class="row pb-5 mb-3">
			<button name="generate_sol" type="submit" class="btn btn-success m-2">Generate Solution</button>
			<button name="generate_question" type="button" class="btn btn-primary m-2 disabled">Generate Question</button>
			<button name="clear_all" type="button" class="btn btn-success m-2" onclick="clear_the_board()">Clear All</button>
		</div>
	</form>
</div>

{% endblock content %}

{% block script %}
<script type="text/javascript">
function clear_the_board(){
	console.log("trying to clear.")
	for (let i = 0; i < 9; i++) {
		for (let j = 0; j < 9; j++) {
			// console.log(document.getElementsByName("cell" + i.toString() + j.toString())[0].value)
			console.log(i,j)
			document.getElementsByName("cell" + i.toString() + j.toString())[0].value = "";
		}
	}
}
function check_number(name){
	let num = document.getElementsByName(name)[0].value;
	console.log(isNaN(num));
	if(isNaN(num)){
		document.getElementsByName(name)[0].value = "";
		alert("Please enter a number between 0 to 9 a");
	} else {
		if(num<1 || num>9 ){
			document.getElementsByName(name)[0].value = "";
			alert("Please enter a number between 0 to 9 b");
		}
	}
}
</script>


{% endblock script %}